name: Build Docs

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    build_and_deploy:
        name: Build Docs
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup PNPM
              uses: pnpm/action-setup@v3
              with:
                  run_install: true

            - name: TypeDoc Build
              run: pnpm run docs

            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN  }}
                  publish_dir: "./docs"
                  user_name: "JacobLinCool"
                  user_email: "jacoblincool@users.noreply.github.com"
                  publish_branch: "gh-pages"
